<!DOCTYPE html>
<html>

<head>
  <title>test page</title>
  <link rel='stylesheet' href='/stylesheets/targil.css' />
</head>

<body>
  <div></div>
  <form action="/add-cat-page/add-one" method="GET">
    <div id="dumdum">
      <input type="text" name="name" placeholder="cats name" />
      <input type="text" name="breed" placeholder="cats breed" />
    </div>
    <input type="submit" value="submitation" />
  </form>
</body>

</html>