<!DOCTYPE html>
<html>

<head>
  <title>test page</title>
  <link rel='stylesheet' href='/stylesheets/targil.css' />
</head>
<!--the form needs to be sent to "/add-cat-page/add-one".
   the info sent in this format: 
  {name: "cat name", breed: "cat breed"}
-->

<body>
  <form>
    <input type="text" placeholder="cat name" />
    <input type="text" placeholder="cat breed" />
    <input type="submit" value="submitation" />
  </form>
</body>

</html>