<!DOCTYPE html>
<html>

<head>
  <title>test page</title>
  <link rel='stylesheet' href='/stylesheets/targil.css' />
</head>

<body>
  <% cats.forEach(function(cat){ %>
      <%- cat.name -%>
 <% }) %>
</body>

</html>