<!DOCTYPE html>
<html>

<head>
  <title>test page</title>
  <link rel='stylesheet' href='/stylesheets/targil.css' />
</head>

<body>
  <form action="/cache" method="GET">
    <% cats.forEach(function(cat){ %>
      <%- cat.name -%>
      <br />
        <% }) %>
          <div>
            <select name='breed'>
              <% for( opt of options){ %>
                <option value="<%=opt %>" <%= opt===breed ? "selected" : "" %> >
                  <%= opt %>
                </option>
                <% } %>
            </select>
          </div>
          <input type="submit" value="submitation" />
  </form>
</body>

</html>