<!DOCTYPE html>
<html>

<head>
  <title>test page</title>
  <link rel='stylesheet' href='/stylesheets/targil.css' />
</head>
<!--the form needs to be sent to "/filter".
   the info sent in this format: 
  {breed: "cats breed"}
-->
<body>
  <form>
    <% cats.forEach(function(cat){ %>
      <%- cat.name -%>
      <br />
        <% }) %>
          <div>
            <select>
              <% for( opt of options){ %>
                <option value="<%=opt %>" <%= opt===breed ? "selected" : "" %> >
                  <%= opt %>
                </option>
                <% } %>
            </select>
          </div>
          <input type="submit" value="submitation" />
  </form>
</body>

</html>