<!DOCTYPE html>
<html>
  <head>
    <title>test page</title>
    <link rel='stylesheet' href='/stylesheets/params.css' />
  </head>
  <body>
    <pre id="json" style="filter:hue-rotate(<%= degree %>deg);"><%= params %></pre>
  </body>
</html>
