<!DOCTYPE html>
<html>

<head>
  <title>test page</title>
  <link rel='stylesheet' href='/stylesheets/targil.css' />
</head>

<body>
  <form action="/add-cat" method="POST">
    <%- include('form')%>
    <input type="submit" value="submitation"/>
  </form>
</body>

</html>